.model-form-add {
    margin: 15px;
    .model-form-head {
        min-height: 70px;
        background: #ebf3fe;
        border-radius: 10px;
        display: flex;
        align-items: center;
        margin: 0 0 10px;
        padding: 10px;
        .table-header-panel-icon {
            margin: 10px;
            width: auto;
            height: 45px;
            background: #aecaf1;
            padding: 10px;
            border-radius: 10px;
        }
        p.model-form-head-info {
            border-left: 5px #3174ad;
            border-left-style: dashed;
            padding-left: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
            margin: 3px 0;
        }
    }
    .model-form-container {
        width: 100%;
        background: white;
        border: 1px solid #ebf1f6;
        border-radius: 10px;
        box-shadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
        border-collapse: collapse;
        padding: 15px;
        form {
            display: flex;
            flex-direction: column;
            .model-form-input-text {
                display: block;
                width: 60%;
                padding: 8px 16px;
                font-size: 0.875rem;
                font-weight: 400;
                line-height: 1.5;
                color: #5a6a85;
                background-color: transparent;
                background-clip: padding-box;
                border: 1px solid #dfe5ef;
                appearance: none;
                border-radius: 7px;
                box-shadow: unset;
                transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                margin: 10px 0;
            }
            .model-from-input-submit {
                display: block;
                width: 60%;
                padding: 10px 16px;
                color: #ffffff;
                background-color: #2196F3;
                border: 1px solid #2196F3;
                border-radius: 7px;
                margin: 10px 0;
            }
        }
    }
}