.table-model-container {
    display: block;
   
    .table-header-panel {
        display: flex;
        align-items: center;
        padding: 5px 0;
        .table-header-panel-left {
            display: flex;
        }

        p.model-form-head-info {
            padding-top: 5px;
            padding-bottom: 5px;
        }   
        .top-nav-dash-a  {
            text-decoration: none;
            color: black;
            padding: 0 10px;
        }
        .first {
            padding: 0 10px 0 0 !important;
        }
        .teable-header-h1 {
            font-size: 24px;
            font-weight: 600;
        }
        .nothing {
            display: block;
            height: 19px;
            width: 19px;
            margin-left: 10px;
        }
        .table-select-filter {
            width: 100%;
            max-width: 150px;
            padding: 8px;
            border: 1px solid #d2d7df;
            display: flex;
            border-radius: 8px;
        }

        .table-search-bar {
            width: 100%;
            max-width: 300px;
            padding: 8px;
            border: 1px solid #d2d7df;
            display: flex;
            border-radius: 8px;
            margin: 0 10px;
            .table-search-icon {
                stroke: #70798d;
                margin-right: 8px;
            }
            .table-search-input {
                width: 100%;
                border: none;
            }
        }
        .table-filter-reset-button {
            width: 100%;
            max-width: 100px;
            padding: 8px;
            border: 1px solid #5fabff;
            display: flex;
            border-radius: 8px;
            justify-content: center;
            color: #3f8fe7;
            background: none;
            transition: 0.5s;
        }
        .table-filter-reset-button:hover {
            width: 100%;
            max-width: 100px;
            padding: 8px;
            border: 1px solid #5fabff;
            display: flex;
            border-radius: 8px;
            justify-content: center;
            color: #ffffff;
            background: #5fabff;
        }
    }
    .last {
        justify-content: space-between;
    }
}
.table-header-panel-icon {
    margin: 10px;
    width: auto;
    height: 45px;
    background: #aecaf1;
    padding: 10px;
    border-radius: 10px;
    fill: black;
}

.options-button {
    background: #1c1c1c;
    padding: 6px 10px;
    margin: 0 10px 0 0;
    border-radius: 9px;
    color: white;
    text-decoration: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon-button-white {
        stroke: white;
        width: 15px;
        height: 14px;
        margin-right: 4px;
    }
}

.confirmation-opacity {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: white;
    opacity: .6;
}
.confirmation-popup {
    position: fixed;
    left: 0;
    top: 0;
    
    .confirmation-content {
        position: fixed;
        background: white;
        border: 1px solid #dfe5ef;
        border-radius: 5px;
        width: 100%;
        max-width: 564px;
        margin: auto auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        min-height: 360px;
        padding: 30px;
        display: inline-table;
        max-height: 750px;
        .confirmationHeartFav{
            width: 38px;
            margin-right: 10px;

        }
        .confirmation-top-pop {
            height: 60px;
            background: #ecf2ff;
            border-radius: 4px;
            display: flex;
            align-items: center;
            padding: 15px;
            margin: 20px 0;
        }
        .confirmation-buttons {
            .confirmation-form{
                .confirmation-button-style-text{
                    display: block;
                    width: 100%;
                    padding: 8px 16px;
                    font-size: .875rem;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #5a6a85;
                    background-color: transparent;
                    background-clip: padding-box;
                    border: 1px solid #dfe5ef;
                    appearance: none;
                    border-radius: 7px;
                    box-shadow: unset;
                    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                    margin: 10px 0;
                }
                .confirmation-button-container {
                    display: flex;
                    justify-content: right;
                    margin: 20px 0;
                    
                }
            }
        }
    }
}
.confirmation-important-ul {
    overflow: hidden;
    overflow-y: auto;
    max-height: 460px;
    margin: 10px 0;
    .confirmation-important-li {
        border-bottom: 1px solid #dfe5ef;
        margin: 10px 0;
        list-style: none;
        .confirmation-important-ol{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 10px 0;
            list-style: none;
            padding: 0 25px;
            .confirmation-important-li-under{
                display: flex;
                justify-content: flex-start;
                width: 100%;
            }
            .confirmation-important-li-under-import{
                display: flex;
                justify-content: flex-end;
                width: 100%;
             }
        }
    }
}
.expanded-content {
    padding: 15px;
    border-bottom: 1px solid #d8dee3;
    p {

    }
    ul {
        list-style: none;
        margin: 10px 0;
    }
}
.confirmation-button-style-submit {
    background: #539BFF;
    padding: 6px 15px;
    border-radius: 100px;
    border: 1px solid #539BFF;
    color: white;
    margin-right: 10px;
    text-decoration: none;
}
.confirmation-button-style-cancel {
    background: none;
    padding: 6px 31px;
    color: red;
    text-decoration: none;
    width: 100px;
    display: block;
    border-radius: 8px;
    border: 1px solid red;
}
.confirmation-button-style-delete {
    background:#fa896b;
    padding: 6px 15px;
    border-radius: 100px;
    border: 1px solid #fa896b;
    color: white;
    text-decoration: none;
    margin-right: 10px;
}
.confirm-important-button-options {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 15px 0;
}
.error-table-info {
    padding: 10px;
}
.confirmation-p {
    text-align: left;
    padding: 5px 0;
    margin: 10px 0;
}
.confirmation-content-h1 {
    font-size: 17px;
    margin: 10px 0;
}
.confirm-important-button {
    border-radius: 8px;
    background: #3577ff;
    border: 1px solid #2762db;
    color: white;
    padding: 6px 15px;
    margin: 0 0 0 10px;
}
.table-main-setting-grey {
    border-radius: 100px;
    padding: 7px 16px;
    background: #5a6a85;
    color: white;
    border: 1px solid #5a6a85;
    margin-right: 10px;
}
.confirmation-button-style-div {
    display: flex;
    justify-content: flex-end;
}
.confirm-important {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
    width: 100%;
    height: max-content;
    background: white;
    text-align: center;
    max-width: 600px;
    padding: 30px;
    border: 1px solid #eceef2;
    border-radius: 8px;
    .confirmation-content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .confirm-important-button-flex {
        display: flex;
        flex-direction: column;
        
    } 
}



.table-main-content {
    width: 100%;
    background: white;
    border: 1px solid #ebf1f6;
    border-radius: 10px;
    box-shadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
    border-collapse: collapse;
    margin-top: 15px;
    thead {
        border: inherit;
        .table-main-tr{
            border: inherit;
            
            th{
                padding: 16px 16px;
                text-align: left;
                font-weight: 400;
            }
            .table-column-setting{
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }
            .flex-left {
                justify-content: center !important;
            }
        }
    }
    tbody {
        .table-main-tr { 
            border-bottom: 1px solid #d8dee3;
        
            .table-main-td {
                padding: 16px;
              
                .button-table {
                    border: none;
                    background: none;
                    height: 22px;
                    width: 24px;
                }
            }
            .table-main-setting{
                width: 24px;
                
            }
            .setting-routes {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: auto !important;
            }
        }
    }
    
}
.th-td-one {
    width: auto;
    padding: 16px 0px !important;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-status-active {
    border: 1px solid #20a067;
    border-radius: 14px;
    text-align: center;
    background: #e7fef3;
    color: #20a067;
    width: 76px;
}
.user-status-inactive {

    border: 1px solid #727c8a;
    border-radius: 14px;
    text-align: center;
    background: #f0f2f5;
    color: #727c8a;
    width: 100px;
}