$menu-font-color: #8890a1;
$menu-border-color: #e5eaef;
$menu-background-color: #f6f8fa;
$menu-hover: white;
$menu-color-a-hover: #4f4f54;
$menu-color-icon: #8890a1;
$menu-color-icon-hover: #00000000;
$form-color-label: #8493a5;
$background-color-white: #ffffff;
$background-menu-active-a: #ffffff;
$icon-mono-first: #60a5fa;
$icon-mono-second: #5a66f1;
$icon-mono-first-hover: #dee0fc;
$icon-mono-second-hover: #adb3f8;