$menu-font-color: #000214;
$menu-border-color: #e5eaef;
$menu-background-color: #ffffff;
$menu-hover: #E8F1FF;
$menu-color-a-hover: #4f4f54;
$menu-color-icon: #000214;
$menu-color-icon-hover: #00000000;
$form-color-label: #8493a5;
$background-color-white: #ffffff;
$background-menu-active-a: #5C9AFF;
$icon-mono-first: #60a5fa;
$icon-mono-second: #5a66f1;
$icon-mono-first-hover: #dee0fc;
$icon-mono-second-hover: #adb3f8;