.sidebar-small {
    .nav-logo {
        margin: 10px 0 0 0;
        .nav-logo-a {
            .sidebar-logo-text {
                display: none;
            }
        }
    }
    .nav-profile {
        display: flex;
        flex-direction: column;
        margin: 15px 0 0;
        .nav-profile-user {
            .nav-profile-user-avatar {
                .circle-avatar-man {
                    margin: 0;
                }
            }
            .nav-top-user-info {
                display: none;
            }
        }
        .nav-profile-more {
            padding: 0 5px;
            display: flex;
            justify-content: space-around;
            margin: 25px 0 0;
            flex-direction: column;
            a.nav-profile-setting {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 2px 0;
                padding: 8px 0;
            }
            .nav-profile-setting-button {
                display: flex !important;
                justify-content: center !important;
                align-items: center !important;
                margin: 2px 0 !important;
                padding: 8px 0 !important;
            }
        }
    }



    .nav-content {
        .nav-ul {
            .sidebar-menu-li {
                position: relative;
                .nav-a {
                    .nav-icon {
                        width: 35px;
                        height: auto;
                        margin: auto;
                    }
                    .nav-text {
                        display: none;
                    }
                }
                .sidebar-submenu-ul {
                    display: none !important;
                }
                

            }
            .sidebar-menu-li:hover > .sidebar-submenu-ul {
                display: block !important;
                position: absolute;
                background: white;
                top: 0;
                right: auto;
                bottom: auto;
                min-width: 250px;
                border: 1px solid #dee2e6;
                border-radius: 5px;
                left: calc(100% - 3px);
                height: auto;
            }
        }
        .nav-button {
            .nav-icon {
                width: 35px;
                height: auto;
                margin: auto;
            }
            .nav-text {
                display: none;
            }

        }


    }
    .menu-title {
        display: none;
    }
    .nav-button {
        justify-content: center;
        .nav-text {
            display: none;
        }
    }
}


