@import "colors";
// css Main SideBar
.active-side {
    background: $background-menu-active-a;
    border-radius: 10px;
    border: 1px solid #edeef2;
    .nav-a {
        .nav-text {
        color: #262d3c;

        }
        .nav-icon {
            fill: black !important;
        }
        .stroke-nav {
            fill: none;
            stroke: black !important;
        }
        .stroke {
            fill: none !important;
            stroke: black !important;
        }
    }
}
.border-line {
    width: 100%;
    max-width: 230px;
    height: 1px;
    background: #eceef2;
    margin: 15px 0;
}

.aside {
    width: 100%;
    max-width: 255px;
    background: $menu-background-color;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 0 0.4%;
    .nav-logo {
        height: 50px;
        display: flex;
        align-items: center;
        margin: 10px 0 0 10px;
        position: relative;
        button.toggle-sidebar-button {
            position: absolute;
            right: -21px;
            top: 39px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            border: 1px solid #edeff3;
            background: white;
            width: 25px;
            height: 25px;
            -webkit-box-shadow: 0px 0px 24px 0px rgba(198, 198, 200, 1);
-moz-box-shadow: 0px 0px 24px 0px rgba(198, 198, 200, 1);
box-shadow: 0px 0px 24px 0px rgba(198, 198, 200, 1);
        }
        
        .nav-logo-a {
            display: flex;
            align-items: center;
            
            
            .sidebar-logo-icon {
                padding-right: 1%;
            }
            .sidebar-logo-text {
                margin-left: 8px;
            }
            .logo {
                width: 100%;
                max-width: 128px;
                
               
            }
        }
    }
    .nav-profile {
        display: flex;
        flex-direction: column;
        margin: 15px 0 0;
        .nav-profile-user {
            display: flex;
            position: relative;
            width: 100%;
            .nav-top-user-info {
                .role {
                    font-weight: 300;
                }
                .name {
                    font-weight: 500;
                }
            }
        }
        .nav-profile-more {
            padding: 0 5px;
            display: flex;
            justify-content: space-around;
            margin: 25px 0 0;
            .nav-profile-setting{
                .nav-icon-top {
                    width: 15px;
                    height: 15px;
                }
                
            }
            .nav-profile-setting-button {
                display: inline;
                background: inherit;
                border: inherit;
                height: inherit;
                width: inherit;
                .nav-icon-top {
                    width: 15px;
                    height: 15px;
                }
            }
            
        }
    }
    .menu-title {
        color: #999999;
        font-size: 18px;
        font-weight: 500;
        margin: 20px 0 ;
        padding-left: 10px;
    }
    .nav-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        .nav-ul {
            width: 100%;
            max-width: 230px;
            list-style: none;

            li {

                .nav-a {
                    text-decoration: none;
                    color: $menu-font-color;
                    
                    width: 100%;
                    max-width: 203px;
                    display: flex;
                    margin: 2px 0 ;
                    padding: 8px 0;
                    align-items: center;
                    .nav-text {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        margin-right: 10px;
                        .drop-arrow {
                            fill: $menu-color-icon;
                        }
                    }
                    .nav-icon {
                        padding: 0 8px 2px ;
                        width: 35px;
                        fill: $menu-color-icon;
                        .stroke-nav {
                            stroke: #8890a1;
                        }
                    }
                    .stroke {
                        fill: none;
                        stroke: #8890a1;
                    }
                    .uim-tertiary {
                        fill: $icon-mono-first;
                    }
                    .uim-primary {
                        fill: $icon-mono-second;
                    }
                }
                .nav-a:hover {
                    background: $menu-hover;
                    border-radius: 10px;
                    color: black;
                    transition: .5s;
                    max-width: 230px;
                    width: 100%;
                    // .uim-tertiary {
                    //     fill: $icon-mono-first-hover;
                    // }
                    // .uim-primary {
                    //     fill: $icon-mono-second-hover;
                    // }
                    .nav-icon {
                        padding: 0 8px 2px ;
                        width: 35px;
                        fill: $menu-color-icon;
                        .stroke-nav {
                            stroke: #262d3c;
                        }
                    }
                    .stroke {
                        fill: none;
                        stroke: #262d3c;
                    }
                }
                .nav-a:hover .nav-icon {
                    fill: black;
                    transition: .5s;
                    
                }
                .nav-a:hover .stroke {
                    fill: none;
                    transition: .5s;
                    
                }
                .nav-a:hover > .nav-text > .drop-arrow {
                    fill: black;
                    transition: .5s;
                    
                }
               
                .sidebar-submenu-ul {
                    .sidebar-submenu-li {
                        display: flex;
                        .nav-a-dropdown {
                            text-decoration: none;
                            color: $menu-font-color;
                            padding: 0.5rem 0.5rem 0.5rem 2rem;
                            position: relative;
                            display: flex;
                            align-items: center;
                            width: 100%;
                            margin-left: 20px;
                        }
                        .nav-a-dropdown::before {
                            box-sizing: border-box;
                            position: absolute;
                            border-radius: 9999px;
                            border-width: 1px;
                            content: ">>";
                            left: 4px;
                            display: flex;
                            color: #5C9AFF;
                            font-weight: 700;
                        }
                        .nav-a-dropdown:hover {
                            transition: color .25s cubic-bezier(.645,.045,.355,1);
                            color: $menu-color-a-hover;
                        }
                    }
                }
            }
        }
       
    }
    .nav-button {
        width: 100%;
        max-width: 203px;
        display: flex;
        align-items: center;
        background: none;
        border: none;
        color: $menu-font-color;
        .nav-icon {
            padding: 0 8px 0;
            width: 35px;
            fill: $menu-color-icon;
            
        }
        .uim-tertiary {
            fill: $icon-mono-first;
        }
        .uim-primary {
            fill: $icon-mono-second;
        }
    }
}
















